extends layout

block content
	h1 SendGrid Parse API Demo
	p Send an email to map@itsahackbro.com with your home town in the subject
	div#map(style: "width:800px; height: 500px;")
	div#info
		span#counter 0
		span &nbsp;emails received!