body {
  padding: 50px;
  font: 14px "Helvetica", Arial, sans-serif;
  text-align: center;
}

#container {
	/*margin: 0 auto;*/
	width: 800px;
	text-align: left;
}

h1 {
	background: url('/images/sendgrid-logo.png') 0 -3px transparent;
	background-repeat: no-repeat;
	font: 32px "Helvetica", Arial, sans-serif;
	padding: 5px 0 5px 55px;
}

#map {
	width: 800px;
	height: 500px;
	border: 1px solid #000;
}

#info {
	display:none;
	font: 32px "Helvetica", Arial, sans-serif;
	margin-top: 10px;
	float: right;
}

a {
  color: #00B7FF;
}